html
{
	font-family: Verdana;	
}

header
{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	font-size: 1.5em;
	background-color: #AB091A;
	z-index: 10000;
}

header img
{
	width: 100px;
}

#vide_header
{
	top:0;
	left:0;
	width: 100%;
	height: 100px;
}

ul
{
	margin: auto;
}

li
{
	margin-left: 20px;
	margin-right: 20px;
	color: black;
}

#btn_connexion
{
	position: relative;
	right: 0;
}

.card.card-body
{
	background-color: #AB091A;
	border: none;
}

a.nav-link
{
	text-align: center;
}

a.col-md-3.nav-link
{
	
	font-size: 0.7em;
}


footer
{
	background-color: rgb(245,245,245);
	width: 100%
	bottom: 0;
	text-align: justify-all;
	font-size: 0.6em;
	margin-top: 40px;
}

.container
{
	width: 100%;
}

.copyright
{
	height: 1em;
}
img.d-block.w-100
{
	height: 100%;
	width: auto;
}

div.carousel-item.active
{
	height: 500px;
	
}

.aligner
{
	text-align: center;
	justify-content: center;
	align-items: center;
}


















