html
{
	font-family: Verdana;	
}

body {
	background-color: #F2F2F2;
}

.main-content {
	padding: 20px;
	background-color: #FFF;
	min-height: 600px;
}

header
{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	font-size: 1.5em;
	background-color: #AB091A;
	z-index: 10;
}

header img
{
	width: 100px;
}

.logo-bde-header {
	margin-left: 7px;
	width: 45px;
}

#vide_header
{
	top:0;
	left:0;
	width: 100%;
	height: 100px;
}

ul
{
	margin: auto;
}

li
{
	margin-left: 20px;
	margin-right: 20px;
	color: black;
}

#btn_connexion
{
	position: relative;
	right: 0;
}

.card.card-body
{
	background-color: #AB091A;
	border: none;
}

a.nav-link
{
	text-align: center;
	

}


li.nav-item
{
	max-height: 70px;
}

#events
{
	max-height: none;

}


a.col-md-4.nav-link
{
	font-size: 0.7em;
}

div.row.card-body
{
	margin: 0px -40px 0px -40px;
	
}


a.col-md-3.nav-link
{
	
	font-size: 0.7em;
}


footer
{
	background-color: #FFF;
	width: 100%;
	bottom: 0;
	text-align: justify-all;
	font-size: 0.6em;
	padding: 10px;
	margin-top: 40px;
	border-top: 1px solid rgba(0, 0, 0, .15);
}

.container
{
	width: 100%;
}

.copyright
{
	height: 1em;
}
img.d-block.w-100
{
	height: 100%;
	width: auto;
}

.aligner
{
	text-align: center;
	justify-content: center;
	align-items: center;
}

.smiley
{
height: 2em;
}

.oui
{
	width: 100%;
	height: 80%;
	text-align: center;
}

.logo
{
	

height: 400px;


}


.A
{
	text-align: center;
	font-size: 2em;
	color: black;
	text-shadow: 1px 1px 1px black;
}

/* carousel */
.carousel-item,
.carousel-item.active {
	height: 500px;
}
.carousel-item.active,
.carousel-item-right,
.carousel-item-left {
	display: flex;
}
.carousel-item img {
	-o-object-fit: contain;
	object-fit: contain;
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
	margin: auto;
	justify-content: center;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
	background-image: none;
	color: #222;
	font-weight: bold;
	font-size: 26px;
}
.carousel-control-prev-icon::before {
	content: "<";
}
.carousel-control-next-icon::after {
	content: ">";
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

button
{
	font-size: 0.3em;
}

#marge_inutile
{
	width: 100%;
	height: 60px;
}

h2.profil
{
	font-size: 2em;
	
}


h3.profil
{
	font-size: 1.5em;
}

.image_event,
.image_item
{
	width: 60px; 
	height: 60px; 
	object-fit: cover;
}

.ligne_event td,
.ligne_item td
{
	border: 1px solid rgba(194, 200, 205, 0.4);
	border-color: ;
}

#events-list h3,
#goodies-list h3,
{
	font-weight: bold;
}

@media screen and (max-width: 450px)
{

#events-list h4,
#goodies-list h4
{
	font-size: 20px;
}

#events-list h5
{
	font-size: 15px;
}

}

.retour_accueil
{
	margin: 10px;
}

.event_desc
{
	padding: 10px;
}

#form_add_picture
{
	margin: auto;
}

.like,
.like-picture {
	cursor: pointer;
}

#image_event
{
	height: auto;
	max-width: 250px;

}

div.profilHeader
{
	
    text-align: center;
}

.h1Admin
{
	text-align: center;
}

.h2Admin
{
	text-decoration: underline;
}



	box-shadow: 8px 8px 12px #aaa;
}

.img_event
{
	max-width: 200px;
	height: auto;
}

.img_event:hover
{
	box-shadow: 8px 8px 12px #aaa;
}

.afficher_image
{
	max-width: 100%;
	box-shadow: 8px 8px 12px #aaa;
}

.modal-body h5
{
	margin: 10px;
}

#espace_commentaire
{
	background-color: #EEF0F0;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
}

#espace_photo
{
	background-color: #EEF0F0;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	height: 100%;
}

.img_membre{
	overflow:hidden;
	-webkit-border-radius:50px;
	-moz-border-radius: 50%;
	border-radius:50px;
	width:90px;
	height:90px;
	
	-moz-box-shadow: 0px 0px 10px #343434;
	-webkit-box-shadow: 0px 0px 10px #343434;
	-o-box-shadow: 0px 0px 10px #343434;
	box-shadow: 0px 0px 10px #343434;
}

.personne
{
	background-color: rgba();
	border-radius: 20px;
	padding: 5px;
	margin: 10px;
	text-align: center;
	justify-content: center;
	align-items: center;
}
